html, body {
    margin: 0;
    padding: 0;
    background: none;
}

.popup {
    display: flex;
    border-radius: 35px;
    background-color: #E6E0E9;
    height: 520px;
    width: 390px;
}

#submitForm {
    padding-left: 50px;
    padding-top: 30px;
}

#summary {
    border: none;
    border-bottom: 2px solid #706C76; /* default thin bottom border */
    outline: none;
    background:none;
    font-size: 28px;
    margin:5px;
  
    transition: border-color 0.1s, border-bottom-width 0.1s;
}

#date{
    background:none;
    border:none;
    outline:none;
    color:#706C76;
    

    transition: background-color 0.1s;
}

#start, #end {
    background: none;
    border: none;
    outline: none;
    color: #706C76;

    transition: background-color 0.1s;
}
  
#description:focus, #summary:focus {
    border-bottom: 3px solid #007BFF;
}

#description {
    border: none;
    height: 20px;
    outline: none;
    background: none;
    font-size: 16px;
    border-radius: 3px;

    transition: background-color 0.1s, border-color 0.1s, border-bottom-width 0.1s;
}

#description:hover, #date:hover, #start:hover, #end:hover {
    background-color: #d5cee2;
}

#submit {
    background: #6750a4;
    color:#d5cee2;
    font-size:18px;
    border: none;
    border-radius:10px;
    height:35px;
    width:75px
}

